{% extends 'cms/base/base.html' %}
{% load static %}

{% block title %}
Webdox Computer Institute, Jalandhar
{% endblock %}


{% block content %}
{% include 'cms/includes/jumbotron.html' %}

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for post in posts %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ post.featured_image.url }}">


            <div class="card-body">
              <h3 class="card-title">{{ post.title }}</h3>
              <p class="card-text">{{ post.description|slice:":255" }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'single' pk=post.pk %}" class="btn btn-sm btn-outline-danger">View</a>
                  <button type="button" class="btn btn-sm btn-outline-danger">Edit</button>
                </div>
                <small class="text-muted">{{ post.creation_date | timesince }} ago</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


      </div>
    </div>
  </div>
{% endblock %}