{% extends 'cms/base/base.html' %}
{% load static %}

{% block title %}
Webdox - Help
{% endblock %}


{% block content %}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col">
          <h1>{{ post.title }}</h1>
            <img src="{{ post.featured_image.url }}" class="img-fluid">
        <h6>{{ post.creation_date | timesince }} ago</h6>
          <p>{{ post.description }}</p>
        </div>

      </div>
    </div>
  </div>
{% endblock %}